# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Results (jangan push hasil scan)
results/
sensitive_data/
downloads/

# Data
*.db
data.json
ghostbot.db

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Proxy lists
proxies.txt

# Logs
*.log

# Node
node_modules/